body
{
    user-select: none;
    margin: 0;
    padding: 5em;
    text-align: center;
    background-color: black;
    color: white;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

a
{
    text-decoration: none;
    color: unset;
}

ol
{
    list-style: none;
    padding-left: 0;
}

nav
{
    font-size: 3em;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
}

nav li
{
    text-decoration: none;
    color: unset;
}

nav li:focus
{
    outline: none;
    background-color: white;
    color: black;
}

.fadeOut
{
    opacity: 0;
}